.gallery-env:before,
.gallery-env:after {
  content: " ";
  display: table;
}
.gallery-env:after {
  clear: both;
}
.gallery-env article.album {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.gallery-env article.album header {
  position: relative;
}
.gallery-env article.album header img {
  line-height: 1;
  margin: 0;
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
}
.gallery-env article.album header .album-options {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 7px;
  font-size: 11px;
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gallery-env article.album header:hover .album-options {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.gallery-env article.album .album-info {
  padding: 20px;
}
.gallery-env article.album .album-info h3 {
  font-size: 18px;
  margin: 0;
}
.gallery-env article.album .album-info p {
  margin: 0;
  margin-top: 10px;
  color: #80858e;
}
.gallery-env article.album footer {
  border-top: 1px solid #f0f0f0;
}
.gallery-env article.album footer:before,
.gallery-env article.album footer:after {
  content: " ";
  display: table;
}
.gallery-env article.album footer:after {
  clear: both;
}
.gallery-env article.album footer .album-images-count,
.gallery-env article.album footer .album-options {
  padding: 12px 15px;
  float: left;
  color: #8d929a;
}
.gallery-env article.album footer .album-images-count a,
.gallery-env article.album footer .album-options a {
  color: #8d929a;
  display: inline-block;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.gallery-env article.album footer .album-images-count a + a,
.gallery-env article.album footer .album-options a + a {
  margin-left: 10px;
}
.gallery-env article.album footer .album-options {
  float: right;
  border-left: 1px solid #f0f0f0;
  padding: 7px 10px;
}
.gallery-env article.album footer .album-options a {
  padding: 4px 5px;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gallery-env article.album footer .album-options a:hover {
  background: #f5f5f5;
  color: #43464b;
}
.gallery-env article.image-thumb {
  margin-bottom: 20px;
}
.gallery-env article.image-thumb .image {
  position: relative;
}
.gallery-env article.image-thumb .image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  width: 100%;
}
.gallery-env article.image-thumb .image-options {
  position: absolute;
  top: -10px;
  right: 8px;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -o-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gallery-env article.image-thumb .image-options a {
  display: inline-block;
  line-height: 1;
  margin-left: 2px;
  background: #737881;
  color: #FFF;
  width: 24px;
  height: 24px;
  line-height: 24px;
  -webkit-border-radius: 12px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 12px;
  -moz-background-clip: padding;
  border-radius: 12px;
  background-clip: padding-box;
  text-align: center;
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.gallery-env article.image-thumb .image-options a.delete {
  background: #dd1f26;
}

.gallery-env article.image-thumb .image-options a.edit {
  background: #3c8dbc;
}
.gallery-env article.image-thumb:hover .image-options {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.gallery-env div[data-tag] {
  -moz-transition: opacity 350ms ease-in-out;
  -webkit-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}
.gallery-env div[data-tag].not-in-filter {
  zoom: 1;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.gallery-env div[data-tag].no-animation {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.gallery-env .image-categories {
  margin-bottom: 20px;
  background: #fafafb;
  position: relative;
  margin-top: -17px;
  padding: 10px;
}
.gallery-env .image-categories span {
  color: #80858e;
}
.gallery-env .image-categories a {
  display: inline-block;
  margin: 0 5px;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gallery-env .image-categories a.active {
  font-weight: bold;
  color: #4f5259;
}
.modal .croppable-image {
  border: 4px solid rgba(235, 235, 235, 0.5);
}
.modal h4 + .croppable-image {
  margin-top: 5px;
}
.jcrop-keymgr {
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.gallery-image-edit-env {
  border-bottom: 1px solid #ebebeb;
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
}
.gallery-image-edit-env img {
  width: 100%;
}
.gallery-image-edit-env .close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  display: block;
  z-index: 1000;
  zoom: 1;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gallery-image-edit-env .close:hover {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.gallery-image-edit-env .jcrop-holder {
  -webkit-border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
}