@media (max-width: 1270px) {
	header .width{
		padding: 0 15px;
	}
	.content{
		padding: 40px 15px 0;
		.left-block .left-block-img{
			margin: 10px auto;
			padding: 0 10px;
		}
		.main-content{
			justify-content: space-around;
			.container{
				/* margin-right: 15px; */
			}
		}
	}
	.footer-top {
	    padding: 0 20px;
	}
	.content-item .top-item {
	    padding: 15px 5px;
	    .rigth-block{
	    	margin: auto;
	    	padding: 0;
	    	ul{
	    		justify-content: center;
	    	}
	    }
	    .left-block-form{
			margin: 0 auto;
			padding-top: 13px;
	    }
	}
	
}
@media (max-width: 1200px){
	.content-item .top-item {
	    .left-block-form{
	    	padding: 0;
	    	form input{
	    		width: 500px;
	    	}
	    }
	    .rigth-block{
	    	padding: 0;
	    }
	}
	.desktop ul li{
		display: none;
	}
	.menu-icon{
		display: block;
	}
	.header-bottom{
		.width{
			justify-content: space-between;
    		display: flex;
    		padding: 0 15px;
		}
	}
	.header-bottom nav.mobile ul{
	    display: inline-block;
	    padding-left: 10px;
	}
	.nav .nav__list .search-form form {
	    margin-top: 7px;
	    margin-bottom: 7px;
	}
	.popup-search{
	    margin-top: 0;
	}
}
@media (max-width: 1170px) {
	.content-item .top-item {
	    .rigth-block{
	    	margin: 0 auto 0;
	    }
	}
	.video-block{
		justify-content: space-around;
	}
}
@media (max-width: 1133px) {
	.content{
		.left-block{
		    width: 20%;
		}
		.content-block{
			width: 78%;
		}
	} 
}
@media (max-width: 1000px) {
	.logo-block {
		width: 285px;
		.unit-collection {
	    	padding-left: 25px;
		}
	}
	.team-block a.team-item{
		width: 48%;
	}
}
@media (max-width: 840px) {
	.content-item .top-item {
	    .left-block-form{
	    	form input{
	    		width: 420px;
	    	}
	    }
	}
	header .width{
		padding: 10px 5px;
	}
	.logo-block {
		width: 260px;
		.unit-collection {
		    padding-left: 10px;
		    a.button{
		    	padding: 6px 0 6px 6px;
		    }
		}
	}
	.lang-block{
		margin-bottom: 45px;
	}
	.social-contact {
		width: 137px;
		justify-content: flex-end;
	}
	.team-details-text{
		width: 100%;
	}
	.receipt-block{
		img {
		    margin: 10px auto;
		    width: 100%;
		    max-height: 100%;
		    height: auto;
		}
	} 
}
@media (max-width: 839px) {
	.content{
		display: block;
		width: 100%;
		.left-block {
			width: 100%;
			float: none;
		}

		.content-block{
			margin-top: 30px;
			width: 100%;
			float: none;
			margin-left: 0;
			.main-content{
				.container{
					/* margin-right: 9px; */
				}
			}
		}
	}
	.header-top {
		height: auto;
		border: 1px solid #ebebeb;
	}

}
@media (max-width: 639px) {
	header .width{
		padding: 10px 8px;
	}
	.content {
	    padding: 40px 8px 0;
	}
	.logo-block {
	    width: 100%;
	    .logo{
	    	float: left;
	    	width: 30%;
	    }
	    .unit-collection{
	    	float: right;
	    	// width: 69%;
	    	margin-left: auto;
	    	padding: 0;
	    	a.button{
	    		display: block;
	    		width: 180px;
	    	}
	    }
	}
	.contact-block{
		padding-bottom: 5px;
	}
	.logo-block-right{
	    width: 100%;
	    padding: 8px 0;
	}
	.lang-block{
		.lang-active a{
    		width: 30px;
    		padding-left: 5px;
			span{
				display: none;
			}
		}
		.lang-noactive a{
    		width: 30px;
    		padding-left: 6px;
			span{
				display: none;
			}
		}
	}
	.content{
		.left-block{
			/* width: 94%; */
			.left-block-text{
			    display: block;
			}
			.noleft-block{
			  	display: none;
			}
		}
		.content-block{
			padding-bottom: 5px;
			width: 100%;
			margin: 0 auto;
			.main-content{

				.container{
					margin: 15px auto;
				}
			}
		}
	} 
	.footer-top {
	    padding: 0;
	}
	.footer-top .nav__list li {
	    padding-left: 15px;
	    padding-top: 8px;
	}
	.content-item{
		/* padding: 0 8px; */
	}
	.content-item{
		 .top-item{
			.left-block-form form{
				input{
				    width: 310px;
				    }
				}
		 	.rigth-block{
			    ul{
			      li{
			        margin-right: 5px;
			        }
			    }
		    }
	   	}
   	}
   	.breadcrumbs a {
	    padding: 0 4px;
	}
	.contact{
		width: 100%;
	}
	.download-bl {
	    width: 95%;
	}
	.content-item-texts p {
    	padding: 0 8px;
	}
	.team-block a.team-item{
		width: 98%;
	}
	.search-block .search-block-item{
		display: block;
		margin-bottom: 20px;
	}
	.search-img-item a{
		margin: 0 auto 20px;
	}
	.slide-det {
	    /* width: 100%; */
	    max-width: 350px;
	    margin: 0 auto;
	}
}


@media (max-width: 400px){
	.logo-block .unit-collection a.button {
	    display: block;
	    width: 210px;
	}
	.content-item .top-item .left-block-form form input {
	    width: 290px;
	    padding: 11px 0 11px 8px;
	}
	.content-item .top-item .rigth-block ul li{
		width: 90px;
    	height: 90px;
		a.credit {
		    margin-top: 24px;
		    margin-left: 16px;
		}
		a.receipt {
		    margin-top: 17px;
		    margin-left: 16px;
		}
		a.smartphone {
		    margin-top: 13px;
		    margin-left: 12px;
		}
	}
	.team-details-img{
		width: 300px;
	}
}