* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    min-width: 320px;
}
body {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-text-size-adjust: none;
}
main{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    background-color: #fafafa;
}
blockquote{
    font-style: italic;
    padding-left: 30px;
    border-left: 5px solid #cccccc;
}
blockquote p{
    line-height: 1.3;
}
ul, ol {
    margin: 10px 0 10px 20px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #686868;
}
table{
    margin: 10px 0;
}
table, td{
    border: 1px solid #686868;
    color: #686868;
    font-family: 'Open Sans', sans-serif;
}
td{
    padding: 5px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
p {
    color: #686868;
    font-size: 14px;
}
button {
    cursor: pointer;
}
.width {
    max-width: 1250px;
    margin: 0 auto;
}
.bg-color-grey {
    background-color: #fafafa;
}
.bg-color-green {
    background-color: #81b440;
}
.button {
    display: inline-block;
    background-color: #81b440;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 48px;
    font-weight: 600;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.header-top {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.header-top .luka a {
    display: block;
    background: url(../img/Luka.png) no-repeat center;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%}
.logo-block {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo-block .logo a {
    display: block;
    background: url(../img/LogoLukaFund.png) no-repeat center;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%}
.logo-block .unit-collection {
    padding-left: 65px;
}
.logo-block .unit-collection p {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 7px;
    font-weight: 600;
    line-height: 1;
}
.logo-block .unit-collection a.button {
    font-size: 12px;
    font-weight: 600;
    width: 180px;
    padding: 6px 0 6px 10px;
    margin-bottom: 3px;
    text-transform: none;
}
.logo-block-right {
    width: 56%}
.logo-block-right, .social-contact-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.social-contact {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.social-contact .contact-block p, .social-contact .contact-block a {
    color: #686868;
    font-weight: 600;
    text-align: right;
}
.social-contact .contact-block a {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
}
.social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social-icon .icon {
    margin-left: 10px;
}
.social-icon .icon a {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 42px;
    width: 42px;
    color: #fff;
    font-size: 18px;
}
.yt-icon a{
    background-color: #fe0108;
}
.fb-icon a{
    background-color: #4267b2;
}
.social-icon .icon a:hover {
    background-color: #bebebe;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
.lang-block{
    position: relative;
}
.lang-block .lang-active a {
    display: inline-block;
    background-color: #81b440;
    color: #fff;
    width: 114px;
    padding: 8px 0 8px 7px;
    font-size: 14px;
    font-weight: 600;
}
.lang-block a img {
    padding-right: 3px;
}
.lang-block .lang-noactive {
    display: none;
    position: absolute;
    z-index: 88;
}
.lang-block .lang-noactive a {
    display: block;
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: #686868;
    width: 114px;
    padding: 8px 0 8px 4px;
    font-size: 14px;
    font-weight: 600;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.header-bottom nav.mobile {
    display: none;
}
.menu-icon {
    display: none;
}
.menu-icon a{
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding-top: 3px;
}
.nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav .nav__list li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    border-bottom: 6px solid #81b440;
}
.nav .nav__list li a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 8px 9px;
}
.nav .nav__list li.nav__item--current {
    border-bottom: 6px solid #ffba00;
}
.nav .nav__list li.nav__item--current a {
    color: #ffba00;
}
.nav .nav__list .search-form form {
    border: 1px solid #ebebeb;
    width: 118px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    position: relative;
}
.nav .nav__list .search-form form input {
    width: 93px;
    background-color: #fff !important;
    padding-left: 6px;
    border-radius: 0;
}
.nav .nav__list .search-form form button {
    background-color: #fff;
    padding: 0 4px;
    color: #81b440;
    font-size: 17px;
}
.nav .nav__list .search-form form ::-webkit-input-placeholder {
    color: #bbb;
    font-size: 12px;
    text-transform: uppercase;
}
.nav .nav__list .search-form form ::-moz-placeholder {
    color: #bbb;
    font-size: 12px;
    text-transform: uppercase;
}
.nav .nav__list .search-form form :-moz-placeholder {
    color: #bbb;
    font-size: 12px;
    text-transform: uppercase;
}
.nav .nav__list .search-form form :-ms-input-placeholder {
    color: #bbb;
    font-size: 12px;
    text-transform: uppercase;
}
.search-form{
    position: relative;
}
.popup-search{
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #bebebe;
    width: 300px;
    z-index: 100;
    right: 0;
    margin-top: 10px;
    max-height: 760px;
    overflow-y: scroll;
}
.popup-search a.search-block-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.popup-search a.search-block-item:last-child{
    padding-bottom: 0;
}
.popup-search .search-block{
    margin-bottom: 0;
    padding: 10px;
}
.popup-search .clear-text p{
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding-bottom: 10px;
}
.search-item-img{
    width: 50px;
    height: 50px;
    position: absolute;
}
.search-item-img img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
a.search-block-item .search-item-text{
    width: 210px;
    position: relative;
    height: 63px;
    overflow: hidden;
    left: 60px;
    padding-left: 0;
}
a.search-block-item .search-item-text h4{
    font-size: 14px;
    font-weight: 600;
    color: #686868;
    line-height: 20px;
}
a.search-block-item .search-item-text p{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    max-height: 65px;
}
.desktop .nav__list li:hover {
    border-bottom: 6px solid #ffba00;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
.desktop .nav__list li:hover a {
    color: #ffba00;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
.content {
    padding-top: 40px;
}
.content .left-block{
    float: left;
    border: 1px solid #ebebeb;
    background-color: #fff;
    width: 26%;
    margin-bottom: 20px;
}
.content .left-block .noleft-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content .left-block .left-block-text {
   /*  display: none; */
    margin: auto;
    padding: 14px 0;
}
.content .left-block .left-block-text p {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.content .left-block .left-block-img {
    margin: 10px;
    width: 140px;
}
.content .left-block .left-block-img a {
    display: block;
}
.content .left-block .left-block-img img {
    height: auto;
    width: 100%}
.content-block {
    float: left;
    width: 72%;
    border-top: 1px solid #ebebeb;
    margin-left: 2%}
.breadcrumbs {
    border-bottom: 1px solid #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0;
}
.breadcrumbs a {
    color: #686868;
    font-size: 14px;
    padding: 0 7px;
}
.breadcrumbs a i {
    font-size: 16px;
    color: #81b440;
    padding-right: 7px;
}
.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 28px;
}
.container {
    border: 1px solid #ebebeb;
    width: 290px;
    background-color: #fff;
    margin-bottom: 30px;
}
.containers{
    margin-bottom: 30px;
}
.container .help-container {
    background-color: #81b440;
}
.container .help-container p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}
.container .help-container p b {
    font-size: 17px;
    padding-left: 5px;
}
.container .info-container .img-container img {
    width: 100%;
    height: 150px;
}
.container .info-container p {
    font-weight: 600;
    color: #686868;
    font-size: 16px;
    text-align: center;
    position: relative;
    height: 60px;
    overflow: hidden;
    padding: 12px 15px 0;
}
.container .text-container {
    position: relative;
    padding: 0 15px; 
    height: 155px; 
    overflow: hidden; 
}
.container .text-container p{
    overflow: hidden;
   -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; 
   line-height: 20px; 
   max-height: 155px;   
}
.container .text-container a.button {
    position: absolute;
    bottom: 10px;
    background-color: #ffba00;
    color: #fff;
    width: 90%;
    text-align: center;
}
.container .text-container a.button:hover {
    background-color: #81b440;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
.main-container .stock .img-container {
    border-bottom: 0;
}
.main-container .stock .img-container img {
    height: 120px;
}
.content-item .content-item-img{
    width: 100%;
    height: 350px;
}
.content-item .content-item-img img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
}
.content-item .content-item-text {
    margin-bottom: 100px;
}
.content-item .content-item-text img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
}
.content-item .content-item-text h3 {
    text-align: center;
    font-size: 16px;
    color: #333;
    padding: 40px 0 30px 0;
}
.content-item .content-item-text p {
    line-height: 30px;
}
.pagination {
    width: 100%;
    padding-bottom: 50px;
    margin: auto;
}
.pagination li{
    list-style: none;
}
.pagination ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination li span,
.pagination li a {
    display: inline-block;
    padding: 10px 15px;
    color: #81b440;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    line-height: 1;
}


.pagination li.active span,
.pagination li.active a,
.pagination li span:hover,
.pagination li a:hover {
    background-color: #81b440;
    color: #fff;
}
.pagination li.disabled span,
.pagination li.disabled a{
    color: #ebebeb;
}

.pagination li.disabled span:hover,
.pagination li.disabled a:hover{
    background-color: #fff;
    color: #ebebeb;
}
.main-content .content-item{
    width: 100%;
}
.content-item .top-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 0 20px;
    margin-bottom: 30px;
}
.content-item .top-item .left-block-form {
    padding-top: 24px;
}
.content-item .top-item .left-block-form form input {
    width: 420px;
    border: 1px solid #ebebeb;
    background-color: #fafafa;
    padding: 11px 0 11px 18px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 0;
}
.content-item .top-item .left-block-form form ::-webkit-input-placeholder {
    color: #bbb;
    font-size: 16px;
    width: 180px;
}
.content-item .top-item .left-block-form form ::-moz-placeholder {
    color: #bbb;
    font-size: 16px;
    width: 180px;
}
.content-item .top-item .left-block-form form :-moz-placeholder {
    color: #bbb;
    font-size: 16px;
    width: 180px;
}
.content-item .top-item .left-block-form form :-ms-input-placeholder {
    color: #bbb;
    font-size: 16px;
    width: 180px;
}
.content-item .top-item .rigth-block{
    padding: 20px 0;
}
.content-item .top-item .rigth-block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-item .top-item .rigth-block ul li {
    margin-right: 40px;
    list-style: none;
}
.content-item .top-item .rigth-block ul li:last-child {
    margin-right: 0;
}
.content-item .top-item .rigth-block ul li {
    display: block;
    background-color: #81b440;
    width: 100px;
    height: 100px;
}
.content-item .top-item .rigth-block ul li a.credit {
    display: block;
    background: url(../img/credit-card.png) no-repeat center;
    width: 60px;
    height: 44px;
    margin-top: 28px;
    margin-left: 20px;
}
.content-item .top-item .rigth-block ul li a.receipt {
    display: block;
    background: url(../img/receipt.png) no-repeat center;
    width: 60px;
    height: 59px;
    margin-top: 22px;
    margin-left: 20px;
}
.content-item .top-item .rigth-block ul li a.smartphone {
    display: block;
    background: url(../img/smartphone.png) no-repeat center;
    width: 67px;
    height: 67px;
    margin-top: 17px;
    margin-left: 16px;
}
.receipt-block .receipt-block-img{
    width: 100%;
    height: auto;
}
.receipt-block-img img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 20px auto;
}
.details-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content-details {
    margin-left: 30px;
}
.content-details h3 {
    padding-bottom: 20px;
    padding-top: 15px;
}
.content-details .content-details-text,
.content-details-get .content-details-text{
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    font-size: 14px;
    color: #686868;
    line-height: 30px;
}
.content-details .content-details-text .l-bl{
    font-weight: 600;
    width: 110px;
}
.content-item-texts {
    margin: 30px 0;
}
.content-item-texts img{
    width: 100% !important;
    height: auto !important;
    border-radius: 8px;
}
.content-item-texts p {
    line-height: 30px;
}
.get_help h3 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 16px;
    color: #333;
}
.get_help p {
    line-height: 30px;
}
.download-bl {
    margin: 20px auto;
    width: 70%;
    border: 1px dashed #81b440;
    background-color: #f5f5f5;
    padding: 23px 0;
}
.download-bl a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #81b440;
    margin-right: 15px;
}
.download-bl a img {
    padding-left: 20px;
}
.contact{
    width: 450px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    margin-bottom: 130px;
    margin-top: 40px;
    padding: 0 15px 20px;
}
.contact .content-details-text .l-bl{
    width: 155px;
}
.content-details-text a{
    font-size: 14px;
    color: #686868;
}
.content-details-get h3{
    text-align: left;
    padding-top: 15px;
}

.team-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team-block a.team-item{
    width: 32%;
    background-color: #fff;
    border: 1px solid #ebebeb;
        padding: 15px 10px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.team-item-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.t1{
    background: url(../img/t1.jpg) no-repeat;
    background-size: cover;
}
.t2{
    background: url(../img/t2.jpg) no-repeat;
    background-size: cover;
}
.t3{
    background: url(../img/t3.jpg) no-repeat;
    background-size: cover;
}
.t4{
    background: url(../img/t4.jpg) no-repeat;
    background-size: cover;
}
.t5{
    background: url(../img/t5.jpg) no-repeat;
    background-size: cover;
}
.t6{
    background: url(../img/t6.jpg) no-repeat;
    background-size: cover;
}
.team-item-info{
    padding-left: 10px;
}
.team-item-info h3{
    font-size: 16px;
    color: #686868;
    font-weight: 600;
}
.team-item-info p{
    font-size: 14px;
    color: #686868;
}
.team-details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team-details-img{
    width: 350px;
    height: 350px;
    margin-bottom: 15px;
}
.td1{
    background: url(../img/t10.jpg) no-repeat center;
    background-size: cover;
}
.team-details-text{
    width: 57%
}
.team-details-text h3{
    font-size: 16px;
    line-height: 30px;
    color: #686868;
}
.team-details-text p{
    padding: 4px 0;
}
.team-details-text p,
.team-details-text a{
    font-size: 14px;
    line-height: 30px;
    color: #686868;
}
.video-container video{
    display: block;
    width: 100%;
    height: 150px;
}
.video-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.video-block .video-container{
    margin: 10px;
}
.video-containers{
    margin: 0 auto;
    width: 75%;
}
/* .video-containers iframe {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
} */
.video-containers video{
    width: 100%;
    height: auto;
}
.search-block{
    margin-bottom: 60px;
    margin-right: auto;
}
.search-block .search-block-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
}
.search-img-item a{
    display: block;
    width: 140px;
    height: 80px;
}
.search-img-item a img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
}
.search-text-item p{
    line-height: 24px;
    width: 100%;
    padding-right: 5px;
}
.search-text-item{
    padding-left: 15px;
}
.search-text-item a{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #686868;
    padding-bottom: 5px;
}
footer {
    border-top: 1px solid #ebebeb;
}
.footer-top .nav-footer {
    padding-top: 37px;
    float: left;
}
.footer-top .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0
}
.footer-top .nav__list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-top .nav__list li {
    padding-left: 15px;
    list-style: none;
}
.footer-top .nav__list li a {
    color: #686868;
    text-transform: none;
    font-weight: 300;
    font-size: 14px;
}
.footer-top .nav__list li:hover {
    text-decoration: underline;
}
.footer-top .social-contact {
    width: 250px;
    padding-bottom: 40px;
    padding-top: 44px;
    float: right;
    margin-right: 10px;
}
.footer-top .social-contact p {
    text-align: right;
}
.footer-bottom span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    padding: 8px 0 15px;
    font-size: 14px;
    font-weight: 600;
}
.slide-det{
    width: 350px;
    height: 350px;
    position: relative; 
}
.slide-det .photos img {
    height: 350px;
}
.gallery{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative; 
}

.photos {
    position: relative;
    height: 350px;
}
.photos img {
    position: absolute;
    width: 100%;
    max-height: 100%;
    height: auto;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
#gallery .photos img.show{
    opacity: 1;
}
.buttons {
    margin: 0 auto;
}
.buttons img {
    display: block;
    width: 23px;
    height: 40px;
    position: relative;
    z-index: 99;
}
img.next {
    right: 20px;
}
img.prev {
    left: 20px;
}
img.prev, img.next {
    cursor: pointer;
    position: absolute;
    top: 57%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    margin-top: -30px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
.dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.dots .dot {
    width: 20px;
    height: 20px;
    background-color: #81b440;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -30px;
    cursor: pointer;
    z-index: 99;
}
.dots .active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -30px;
    cursor: pointer;
    z-index: 99;
    background-color: #fff;
    border: 5px solid #81b440;
}
.dots .dot:hover {
    background-color: #fff;
    border: 5px solid #81b440;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input[type=text], input[type=submit], textarea{
    -webkit-appearance: none;
} 
input[type='number'] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
@media (pointer:coarse){
    .nav .nav__list li.nav__item--current {
        border-bottom: none;
    }
}

